<div class="col-10 offset-1 about">
    <h1>About Splurty</h1>
    <br />
    <p>
        I, Tanner, have built this monument! It is my greatest achievement, and my darkest curse...
    </p>
    <p>
        Only one who can handle my strongest potions will be worthy to purchase my potions.
    </p>

    <br />

    <div class = "row">
        <div class = "col-12 col-sm-4">
            <%= image_tag 'rorschach.jpg', class: 'img-fluid' %>
        </div>

        <div class = "col-12 col-sm-7 offset-sm-1">
            <h2 class = "text-center">This is my cat</h2>
            <br />
            <p>
                You are not strong enough for my strongest potions, traveler.
            </p>
        </div>
    </div>
    <br class = "clear" />
    <br />
    <br />
    <br />
    <br />
</div>