<h2>
    <span>SPLURTY / No. <%= @quote.id %></span>
    Here's the <u> advice-iest</u> advice you can get!
    <br />
    <br />
</h2>

<h1> <p>"<%= @quote.saying %>"</p></h1>
<h2 class="float-right"> - <%= @quote.author %></h2>

<br class="clear" />
<br />
<br />
<br />
